fastapi
uvicorn[standard]
gunicorn
python-dotenv
pymongo
transformers
torch
sentence-transformers
plotly
pydantic
soundfile
librosa
requests
python-multipart
pennylane
pennylane-lightning
qiskit
openai
passlib[bcrypt]
